PORT=3000
QUOTE_URL=https://quote-garden.herokuapp.com/quotes/random
AUTHOR="Lý Bạch"
BASE_POEM_URL=https://www.thivien.net
MEMCACHIER_SERVERS=xxx
MEMCACHIER_USERNAME=xxx
MEMCACHIER_PASSWORD=xxx
SENTRY_DSN=xxx
MONGO_URL=mongodb://localhost:27017/test
SECRET_TOKEN=123456
RATE_LIMITED_TOTAL=1000
